#head {
    display: block;
    text-align: center;
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: progress;
}

#button {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    color: white;
    background-color: rgb(107, 77, 77);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.button:hover {
    background-color: brown;
}