body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(208, 208, 208, 0.822);
}

#myh1 {
    font-size: 4rem;
    font-family: monospace;
    color: rgba(0, 0, 0, 0.885);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;
}

#display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(0, 0, 30%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.771);
    margin-bottom: 25px;
}

#control button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startbtn {
    background-color: rgba(0, 128, 0, 75%);
}

#startbtn:hover {
    background-color: rgb(0, 128, 0);
}

#stopbtn {
    background-color: rgba(255, 0, 0, 75%);
}

#stopbtn:hover {
    background-color: red;
}

#resetbtn {
    background-color: rgba(0, 0, 255, 75%);
}

#resetbtn:hover {
    background-color: blue;
}